.jumbotron {
    height: 900px;
    background-image: url("../img/Geometric-Triangle-Wallpaper-12.jpg");
    background-size: cover;
}


.navbar-inverse{
    background: rgba(39, 120, 96,0.7);
}

#bg, #search-bg {

    background-repeat: no-repeat;
    background-size: 1080px auto;
}

#bg {
    background-position: center top;
    padding: 70px 90px 120px 90px;
}

#search-container {
    position: relative;
}

#search-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -70px;

    -webkit-filter: blur(10px);
    filter: url('http://jordanhollinger.com/media/blur.svg');
    filter: blur(10px);
}

#search {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
}



@media (max-width: 600px) {
    #bg { padding: 10px; }
    #search-bg { background-position: center -10px; }
}

#search h1, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: lighter; }
#search h1 { margin-bottom: 50px }
#search h5 { margin-top: 70px }

h1
{
    color: #e7e7e7;
}


.navbar-notification-logo {
    float: right;
    margin-top: -10px;
}



.cover-prev {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
    border-width: 3px;
    border-color: grey;
}


#addQuizBtn {
    position: absolute;
    right: 5%;
    top: 5%;
}

.container-main{
    margin-top: 30px;
}

#currentUserId{
    font-family: 'Open Sans', sans-serif;
}

.current-avatar {
    border-radius: 10px;
    border-width: 3px;
    border-color: grey;
}

.control-label{
    color:whitesmoke;
}


#addQuestionButton {
    position: absolute;
    right: 30px;
    top: -10px;
}

.avatar-badge-sm-register {
    display: inline;
    height: 80px;
    display:inline;
    cursor: pointer;
    width: 80px;
    border-radius: 50%;
}
.avatar-badge-sm-register:hover{
    border:solid 2px;
    border-color: #245580;
}

.avatar-badge-sm {
    display: inline;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-width: thick;
    border-color: #5e5e5e;
}

.not-badge-sm {
    position: absolute;
    text-align: center;
    background-color: red;
    color:#f5f5f5;
    top: 30%;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.not-badge-sm small {
    vertical-align: 60%;
}
.h1-header
{
    color: #e7e7e7;!important;
}

.profile-html {
    background-image: url("../img/Geometric-Triangle-Wallpaper-12.jpg");
    background-size: cover;
    margin: 0;
    overflow: auto;
    height: 300px;
}

.profile-body {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    height: 1000px;
}

h4
{
    color: #2a2730;
}

.notification-clear {
    margin-top: 100px;
    position: absolute;
    left: 20%;
    right: 20%;
}

.notification-container {
    margin-top: 10px;
    box-shadow: #080808;
    height: 100%;
}

.notification-container a {
    width: 100%;
}

.table-hover tr{
    cursor: pointer;
    background-color: azure;
}

.table-hover tr:hover{
    background-color: #9a161a;!important;
}

#signin-footer {
    text-align: left;
}

#register-footer {
    text-align: left;
}

#navigation {
    margin: 10px;
    margin-left: 50px;
}

.group-body {
    position: absolute;
    visibility: collapse;
}

.modal-footer a
{
    text-align: center;!important;
}
.modal-body a
{
    text-align: center;!important;
}


.students-in-group-well {
    height: 300px;
    overflow-y: scroll;
}

.student-info-sm {

}

.group-info:hover {
    cursor: hand;
}

.group-info:hover .group-body {
    position: relative;
    visibility: visible;
}

.btn-supa
{
    border-top-left-radius:0; !important
    border-top-right-radius:0; !important
}



.body-container {
    background: rgba(236, 240, 241,1.0);
    height: 100%;
    max-height: 1000px;
    min-height: 400px;
    box-shadow:rgba(0, 0, 0, 1) 0px 2px 2px ;
    border-radius: 1px;
    padding: 20px;
}

/* Let's get this party started */
input{
   text-align:center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(39, 120, 96,0.9);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(55, 90, 127, 0.4);
}

.body-container-lg {
    background: rgba(236, 240, 241,1.0);
   
    max-height: 1000px;
    min-height: 1000px;
    margin-right: 30px;
    overflow-y: scroll;
    padding: 20px;
}

.body-container-transparent {
    background: rgba(236, 240, 241,1.0);
    border-radius: 1px;
    padding: 20px;
}

.nav-pills {
    color: #00a379;
}

.navbar-right {
    margin-right: 50px;
    clear: both

}


.panel-default {
    margin-bottom: 5px;
}

.notification-clear {
    width: 100%;
    position: absolute;
    bottom: 0px;
}