

<div class="col-md-8 body-container-lg">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Test name</label>

            <div class="col-sm-10">
                <h4>{{currentQuiz.name}}</h4>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Group</label>

            <div class="col-sm-10">
                <h4>{{currentQuiz.group}}</h4>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">Duration</label>

            <div class="col-sm-10">
                <h4>{{currentQuiz.duration}} mins.</h4>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">Test date</label>

            <div class="col-sm-10">
                <h4>{{currentQuiz.date}}</h4>
            </div>
        </div>
        <div class="well well-lg">
            <div class="form-inline" style="position: relative">
                <h3>Quesions</h3>
            </div>

            <hr/>

            <div ng-repeat="question in currentQuiz.questions" id="questionsBox">
                <h4><strong>Question:</strong>{{question.text}}</h4>
                <h4>Answers:</h4>
                <div class="well form-inline" ng-repeat="a in question.answers">
                    <div class="checkbox" style="">
                        <label>
                            <input type="checkbox" ng-bind="a.iscorrect"> {{a.text}}
                        </label>
                    </div>
                </div>
                <hr/>
            </div>
            <a class="btn btn-primary" href="/quizfinished" ng-click="finishQuizButtonClick()">Send</a>
        </div>
    </form>
</div>
<script>
    $(window).blur(function() {

    });
</script>