<link rel="stylesheet" href="../lib/jqueryui/jquery-ui.css">

<div class="col-lg-12 body-container-lg">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Test name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" ng-model="currentQuiz.name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Group</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="" ng-model="currentQuiz.group">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Questions to display</label>

            <div class="col-sm-10">
                <input type="number" class="form-control"  ng-model="currentQuiz.questionstodisplay">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Duration</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="currentQuiz.duration">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Test date</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" data-date-format="dd/mm/yyyy" id="testDate" ng-model="currentQuiz.date">
            </div>
        </div>
        <div class="well well-lg">
            <div class="form-inline" style="position: relative">
                <h3>Quesions<label id="qcountlabel" class="label label-info" style="margin-left: 10px; margin-top:-10px">count:{{currentQuiz.questions.length}}</label></h3>
                <button class="btn btn-success" type="button" id="addQuestionButton">
                    Add new question
                </button>
            </div>

            <hr/>

            <div ng-repeat="question in currentQuiz.questions" id="questionsBox">
                <h4>Question:</h4>
                <button type="button" class="close" ng-click="deleteQuestion(question)" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="question.text">
                    </div>
                </div>
                <h4>Answers:</h4>

                <div class="well form-inline" ng-repeat="a in question.answers">
                    <input type="text" class="form-control col-sm-6" ng-model="a.text"
                           style="margin-right: 20px"/>
                    <input type="checkbox" ng-model="a.iscorrect">Is correct answer</input>
                </div>
                <hr/>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="saveQuiz()">Save</button>
        <div class="alert alert-success" id="saveChangesSuccess" role="alert" style="margin-top: 5px; display: none">Adding quiz success</div>
    </form>
</div>