<!DOCTYPE html>
<html ng-app="indexPageApp" ng-controller="IndexPageController">

<head lang="en">
    <meta charset="UTF-8">
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap Material Design -->
    <link href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" />

    <title>Quizstream</title>
</head>

<body>
    <canvas id="resiseCanvas" hidden="true"></canvas>
    <div class="jumbotron">
        <div class="container">
            <div>
                <nav>
                    <ul class="nav nav-pills" style="margin-left:80%">
                        <li role="presentation"><a href="#" class="btn btn-link btn-supa">about</a></li>
                        <li role="presentation"><a href="#" class="btn btn-link btn-supa" data-toggle="modal" data-target="#myModal">sign
                        in</a></li>
                    </ul>
                </nav>
            </div>



            <div id="bg">
                <div id="search-container">
                    <div id="search-bg">
                        <div id="search">
                            <h1>Name will be totally changed</h1>
                            <h5>This text will be random for each page visit</h5>
                            <h5><a class="btn btn-md btn-success">
                            This will do something eventually
                        </a>
                        </h5>
                        </div>
                    </div>
                    <div id="search">
                        <h1>Name will be totally changed</h1>
                        <h5>This text will be random for each page visit</h5>
                        <h5><a class="btn btn-md btn-success">
                            This will do something eventually
                         </a>
                    </h5>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container" style="background: #ffffff; width: 100%; padding: 0%">
        <div class="col-lg-3">
            <img src="" />

        </div>
    </div>


    <!-- SingIN Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center">Sign in</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" placeholder="Login" ng-model="loginModel.login" />
                    </div>
                    <br>

                    <div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginModel.password" />
                    </div>
                </div>
                <div class="modal-footer" id="signin-footer">
                    <div style="display: inline">
                        <a class="btn" data-toggle="modal" data-target="#regModal">Register</a>
                    </div>
                    <div style="display: inline">
                        <a class="btn btn-primary" ng-click="logIn()">Log in</a>
                    </div>


                    <div class="alert alert-warning" id="loginFailed" role="alert" style="margin-top: 5px; border-radius: 2%; display: none">Login failed
                    </div>
                    <div class="alert alert-success" id="loginSuccess" role="alert" style="margin-top: 5px; border-radius: 2%; display: none">Login success
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabe2" style="text-align: center">Register</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center" class="form-group">
                        <input type="file" accept="image/jpg" onchange="{{onPicLoad();}}" id="openFile" style="display: none">
                        <img id="avatarSm" ng-src="{{registerEntity.avatar}}" class="dropdown-toggle avatar-badge-sm-register">
                        <h4 class="label label-primary" style="display: block; font-size: 15px">Your cute face here</h4>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <input type="text" ng-model="registerEntity.login" class="form-control" placeholder="Login" />
                    </div>
                    <div id="pass" class="form-group">
                        <input type="password" ng-model="registerEntity.password" class="form-control" placeholder="Password" />
                    </div>
                    <div id="rpass" class="form-group">
                        <input type="password" ng-model="repeatPassword" class="form-control" placeholder="Repeat password" />

                        <div class="alert alert-danger" hidden id="passwordAlert" role="alert">Passwords do not match!</div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <input type="text" ng-model="registerEntity.name" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="registerEntity.sirname" class="form-control" placeholder="Sirname" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="registerEntity.fathername" class="form-control" placeholder="Father name" />

                        <div class="alert alert-danger name-warning" hidden role="alert">Name, sirname and fathername should not contain numbers
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email"  ng-model="registerEntity.email" class="form-control" placeholder="Email" />

                    </div>
                    <div class="radiogroup">
                        <h3>Select your role:</h3>
                        <form class="radio">
                            <label>
                                <input type="radio" data-ng-model="registerEntity.isteacher" data-ng-value="false"> I am a student
                            </label>
                            <br/>
                            <label>
                               <input type="radio" data-ng-model="registerEntity.isteacher" data-ng-value="true"> I am a teacher
                            </label>
                 
                        </form>
                    </div>
                </div>
                <!--Submit button-->
                <div class="modal-footer" id="register-footer">
                    <a ng-click="register()" class="btn btn-primary">Register and login</a>

                    <div class="alert alert-warning" id="registerFailed" role="alert" style="margin-top: 5px; border-radius: 2%; display: none">Login is busy
                    </div>
                    <div class="alert alert-success" id="registerSuccess" role="alert" style="margin-top: 5px; border-radius: 2%; display: none">Registration success
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/imageupload.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/entityKeeperService.js"></script>
    <script src="js/services/helperMethodsService.js"></script>
    <script src="js/controllers/indexPageController.js"></script>

</body>

</html>