<!DOCTYPE html>
<html class="profile-html" id="profileHtml" ng-app="teachersApp" ng-controller="MainController">
<head lang="en">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <title>Profile</title>
</head>
<body class="profile-body">
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-fixed-top-quiztream">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Quiztream</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="edit">Profile</a></li>
                <li><a href="quizes">Quizes</a></li>
                <li><a href="groups">My groups</a></li>
                <li><a href="search">Search</a></li>

            </ul>
            <div class="navbar-brand dropdown navbar-notification-logo">
                <img id="avatarSm" class="dropdown-toggle avatar-badge-sm" ng-src="{{currentUser.avatar}}"
                     data-toggle="dropdown">

                <div class="not-badge-sm">
                    <small id="notCount">{{currentUser.notifications.length}}</small>
                </div>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="avatarSm">
                    <li role="presentation">
                        <a href="#" role="menuitem" tabindex="-1" data-toggle="modal"
                           data-target="#notificaionsModal">
                            Notifications
                            <span class="badge"> {{currentUser.notifications.length}}</span>
                        </a>
                    </li>

                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logOut()">Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>


<div class="container container-main">
    <div class="page-header row text-center">

            <h1 id="currentUserId">{{currentUser.sirname + " " + currentUser.name + " " +
                currentUser.fathername}}</h1>

    </div>
    <div class="row">
        <ng-view class="col-lg-12">

        </ng-view>
    </div>

</div>

<div class="modal fade" id="notificaionsModal" tabindex="-1" role="dialog" aria-labelledby="myNOtificationLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myNOtificationLabel">Notifications</h2>
            </div>
            <div class="modal-body">
                <div ng-repeat="notify in currentUser.notifications" style="text-align: center">
                    <a class="btn btn-primary" ng-click="onNotificationClick(notify)" id="{{'not'+notify.id}}"
                       data-toggle="modal" data-target="#notificationmodal">{{notify.title}}</a>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <a class="btn btn-success" ng-click="onClearNotificationsClick()">
                    Clear notifications
                </a>
            </div>
        </div>
    </div>
</div>

<!--Notifications modal-->
<div class="modal fade" id="notificationmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">{{notification.title}}</h4>
            </div>
            <div class="modal-body">
                <h4 style="display: inline">{{notification.message}}</h4>
            </div>
            <div class="modal-footer">
                <a type="button" data-dismiss="modal" href=""
                   ng-click="clearCurrentNotification(notification)" class="btn btn-primary">Ok</a>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js.map"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.min.js.map"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular/imageupload.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/teachersController.js"></script>
<script src="js/controllers/searchController.js"></script>
<script src="js/controllers/editQuizController.js"></script>
<script src="js/controllers/editGroupcontroller.js"></script>

<script src="js/controllers/studentProfileViewController.js"></script>
<script src="js/services/entityKeeperService.js"></script>
<script src="js/services/helperMethodsService.js"></script>
</body>
</html>